<#include "header.html"/>
<body>
<div style="margin-top: 100px;margin-left: 100px;width: 600px">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>创建简历</legend>
    </fieldset>
    <form class="layui-form" action="${base.contextPath}/user/createMyResume" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">姓名:</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block" >
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">民族:</label>
            <div class="layui-input-block">
                <select  name="nationCode" lay-verify="required">
                    <option value="">请选择民族</option>
                    <option value="汉族">汉族</option>
                    <option value="壮族">壮族</option>
                    <option value="蒙古族">蒙古族</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">学历:</label>
            <div class="layui-input-block">
                <select  name="educationCode" lay-verify="required">
                    <option value="">请选择学历</option>
                    <option value="本科以下">本科以下</option>
                    <option value="本科">本科</option>
                    <option value="本科以上">本科以上</option>
                    <option value="研究生">研究生</option>
                    <option value="博士生">博士生</option>
                    <option value="研究生及以上">研究生及以上</option>
                    <option value="本科或研究生">本科或研究生</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">手机号:</label>
            <div class="layui-input-block">
                <input type="tel" name="phone" lay-verify="phone" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">邮箱:</label>
            <div class="layui-input-block">
                <input type="email" name="email" lay-verify="email"autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">家庭住址:</label>
            <div class="layui-input-block">
                <input type="text" name="location" lay-verify="required" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" style="width: 100px" >技能:</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入技能" name="skills" class="layui-textarea" lay-verify="required"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">期望薪资:</label>
            <div class="layui-input-block">
                <input type="number" name="expectSalary" lay-verify="required" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">求职意向:</label>
            <div class="layui-input-block">
                <input type="text" name="expectPosition" lay-verify="required" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="create">
                    保存
                </button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.render('select');
        form.render('radio');
    });


</script>
</html>