<#include "header.html"/>
<body>
<!--编辑按钮模态框-->
<div class="modal fade" id="annotationModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">通知信息</h4>
            </div>
            <div class="modal-body">
                <form class="layui-form" lay-filter="edit">
                    <input name="id" hidden>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 100px">标题:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input" readonly>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 100px">通知内容:</label>
                        <div class="layui-input-block">
                            <textarea  name="message" class="layui-textarea" lay-verify="required" readonly></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table id="demo" lay-filter="test" ></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-danger" lay-event="delete">删除</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">查看详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
<script>
    layui.use(['table','form'],function () {
        var table = layui.table;

        var  form = layui.form;
        form.render('select');



        //数据表格渲染
        table.render({
            elem: '#demo',
            height: 500,
            url: '${base.contextPath}/company/queryCompanyMessage',
            page: true,
            toolbar:'#toolbarDemo',
            defaultToolbar: ['filter', 'print', 'exports'],
            request: {
                pageName: 'page' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,even: true //开启隔行背景
            ,title:'招聘岗位列表',
            cols: [[
                {type:'checkbox',fixed:'left'}
                ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left',hide:true}
                ,{field: 'title', title: '标题',align:'center'}
                ,{field: 'message', title: '详细信息', sort: true,align:'center',hide:true}
                ,{ title: '操作' ,align:'center',toolbar: '#barDemo'}
            ]]
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    //清空表单数据
                    $("button[type=reset]").trigger("click");
                    $("#positionAddModel").modal({
                        backdrop:"static"
                    });
                    break;
                //批量删除
                case 'delete':
                    var data = checkStatus.data;
                    console.log(data);
                    if(data.length>0)
                    {
                        layer.confirm('确定删除？', function(index){
                            $.ajax({
                                type:'POST',
                                url:'${base.contextPath}/company/batchdeleteCompanyMessage',
                                contentType: 'application/json',
                                data: JSON.stringify(data),
                                success:function (res) {
                                    if(!res.success) {
                                        layer.alert("删除失败");
                                    }
                                    else{
                                        layer.confirm('删除成功', function(index){
                                            layer.close(index);
                                            table.reload('demo',{
                                                page: {
                                                    page: 1
                                                }
                                            });
                                        });
                                    }
                                }

                            })
                        })

                    }
                    else
                    {
                        layer.alert("请至少选中一行数据");
                    }
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除这一行吗么', function(index){
                    $.ajax({
                        type:'POST',
                        url:'${base.contextPath}/company/deleteCompanyMessageById',
                        data: {'id': data.id},
                        success:function (res) {
                            if(!res.success)
                            {
                                layer.alert("删除失败");
                            }
                            else{
                                layer.confirm('删除成功', function(index){
                                    layer.close(index);
                                    table.reload('demo',{
                                        where: { //设定异步数据接口的额外参数，任意设
                                        }
                                        ,page: {
                                            page: 1
                                        }
                                    });
                                });
                            }
                        }

                    })
                });

            } else if(obj.event === 'edit'){
                form.val('edit', {
                    "id": data.id
                    ,"title": data.title
                    ,"message": data.message
                })
                $("#annotationModel").modal({
                    backdrop:"static"
                });
            }
        });
    });

</script>
</html>