<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>完善公司信息</title>
    <script src="${base.contextPath}/lib/jquery/jquery-2.2.4.js"></script>
    <script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="${base.contextPath}/lib/layui/layui.all.js"></script>
    <link href="${base.contextPath}/lib/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="margin-top: 100px;margin-left: 100px;width: 600px">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>完善公司信息</legend>
    </fieldset>
    <form class="layui-form" action="${base.contextPath}/company/Register1" method="post" enctype = "multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">公司全称:</label>
            <div class="layui-input-block">
                <input type="text" name="companyAllName" lay-verify="required" autocomplete="off" placeholder="请输入公司全称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">公司简称:</label>
            <div class="layui-input-block">
                <input type="text" name="companyName" lay-verify="required" placeholder="请输入公司简称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">公司logo:</label>
            <div class="layui-input-block">
                <input type="file" name="files" lay-verify="required" placeholder="选择公司logo" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">省份:</label>
            <div class="layui-input-block">
                <input type="text" name="companyLocation" lay-verify="required" placeholder="请选择公司所在省份" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">详细地址:</label>
            <div class="layui-input-block">
                <input type="text" name="companyLocationInfo" lay-verify="required" placeholder="请输入公司详细地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" style="width: 100px" >公司介绍:</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="companyIntr" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" style="width: 100px">产品介绍:</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="productIntr" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">身份证:</label>
            <div class="layui-input-block">
                <input type="file" name="files" lay-verify="required" placeholder="请上传手持身份证拍照" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">营业执照:</label>
            <div class="layui-input-block">
                <input type="file" name="files" lay-verify="required" placeholder="请上传公司营业执照图片" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">下一步</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
</body>
</html>