<#include "header.html"/>
<body>
    <div>
        <div style="height: 50px;background-color: #303640">
            <a href="${base.contextPath}/index.html">
                <img src="${base.contextPath}/lib/image/logo.png"  height="40px" width="45px" style="margin-top:6px ;float: left;margin-left: 180px;">
            </a>
            <div style="font-size: 30px;margin-top:8px ;float: left;">
                <a href="${base.contextPath}/index.html" style="color: #ffffff;text-decoration: none">英聘</a>
            </div>
            <div style="float: left;font-size: 17px;line-height: 60px">
                <ul>
                    <li style="float: left;margin-left: 100px;width: 70px;height: 50px">
                        <a href="${base.contextPath}/index.html" style="color: #ffffff;margin-left: 17px;text-decoration: none">首页</a>
                    </li>
                    <li style="float: left;width: 70px;height: 50px">
                        <a href="${base.contextPath}/indexIframe/positionList" style="color: #ffffff;margin-left: 17px;text-decoration: none;">职位</a>
                    </li>
                    <li style="float: left;width: 70px;height: 50px">
                        <a href="${base.contextPath}/indexIframe/companyList" style="color: #ffffff;margin-left: 17px;text-decoration: none">公司</a>
                    </li>
                </ul>
            </div>
            <div style="float: right; margin-right: 100px;margin-top: 20px;color: #ffffff">
                <#if user??>
                    <div style="float: left;margin-right: 20px">
                        <label>欢迎，${user.account}</label>
                        <a href="${base.contextPath}/UserIframe/userInfos" style="color: #ffffff;text-decoration: none">个人中心</a>
                    </div>
                <#else>
                    <div style="float: left;margin-right: 20px">
                        <a href="${base.contextPath}/user/login.html" style="color: #ffffff;text-decoration: none">请登录</a>
                    </div>
                </#if>
                <div style="float: left;margin-right: 20px">
                    |
                </div>
                <div style="float: left">
                    <a href="${base.contextPath}/company/login.html" style="color: #ffffff;text-decoration: none">企业版登录</a>
                </div>
            </div>
        </div>
        <div style="height: 300px;" >
        <img src="${base.contextPath}/lib/image/rollback.jpg" height="300px" width="100%">
        </div>
        <div style="margin-left: 13%;margin-right: 13%;background-color: #ffffff;">
            <div style="height: 200px;">
                <div style="height: 200px;width:70%;float: left">
                    <div style="font-size: 20px;margin-top: 10px">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>职位搜索
                    </div>
                    <div class="form-group" style="width: 600px;margin-top: 50px;margin-left: 50px">
                        <input class="form-control input-lg" type="text" style="border-width:2px;border-radius:0px;float: left;width: 500px">
                        <button type="button" class="btn btn-default btn-lg" style="float: left;background-color:#69ace9;border-radius:0px">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <a href="${base.contextPath}/indexIframe/positionList" style="text-decoration: none;color: #ffffff">搜索</a>
                        </button>
                        热门搜索：投资经理 土建工程师 采购销售 运营 java 产品经理 人力资源 总经理
                    </div>
                </div>
                <div style="height:200px;width: 30%;float: left">
                    <div style="font-size: 20px;margin-top: 10px">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>系统公告
                    </div>
                </div>
            </div>

            <div style="height: 500px;background-color: rosybrown">

            </div>
            <div style="height: 30px;background-color: #ffffff">

            </div>
        </div>
    </div>
</body>
</html>