<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招聘网站</title>
    <script src="${base.contextPath}/lib/jquery/jquery-2.2.4.js"></script>
    <script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="${base.contextPath}/lib/layui/layui.all.js"></script>
    <link href="${base.contextPath}/lib/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
        body{
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <div>
        <div style="height: 50px;background-color: #303640">
            <div style="font-size: 30px;color: #ffffff;line-height: 50px;float: left;margin-left: 180px">
                <img src="${base.contextPath}/lib/image/logo.png" height="40px" width="45px">
                <span>英聘</span>
            </div>
        </div>
        <div style="height: 300px;" >
        <img src="${base.contextPath}/lib/image/rollback.jpg">
        </div>
        <div style="margin-left: 13%;margin-right: 13%;background-color: #fff9ec;">
            <div style="height: 200px;">
                <div style="height: 200px;width:70%;background-color: #ffa7c0;float: left">
                sa
                </div>
                <div style="height:200px;width: 30%;background-color: #010102;float: left">
                as
                </div>
            </div>

            <div style="height: 500px;background-color: rosybrown">

            </div>
            <div style="height: 30px;background-color: #ffffff">

            </div>
        </div>
    </div>
</body>
</html>