<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="${base.contextPath}/lib/jquery/jquery-2.2.4.js"></script>
    <script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="${base.contextPath}/lib/layui/layui.all.js"></script>
    <link href="${base.contextPath}/lib/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
        body{
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>
<div>
    <div style="height: 50px;background-color: #303640">
        <div style="font-size: 30px;color: #ffffff;line-height: 50px;float: left;margin-left: 180px">
            <img src="${base.contextPath}/lib/image/logo.png" height="40px" width="45px">
            <span>英聘</span>
        </div>
    </div>
</div>
</body>
</html>