<#include "header.html"/>
<body>
<div>
    <div style="height: 50px;background-color: #303640">
        <a href="${base.contextPath}/index.html">
            <img src="${base.contextPath}/lib/image/logo.png"  height="40px" width="45px" style="margin-top:6px ;float: left;margin-left: 180px;">
        </a>
        <div style="font-size: 30px;margin-top:8px ;float: left;">
            <a href="${base.contextPath}/index.html" style="color: #ffffff;text-decoration: none">英聘</a>
        </div>
        <div style="float: left;font-size: 17px;line-height: 60px">
            <ul>
                <li style="float: left;margin-left: 100px;width: 70px;height: 50px">
                    <a href="${base.contextPath}/index.html" style="color: #ffffff;margin-left: 17px;text-decoration: none">首页</a>
                </li>
                <li style="float: left;width: 70px;height: 50px;background-color: #3689b3">
                    <a href="${base.contextPath}/indexIframe/positionList" style="color: #ffffff;margin-left: 17px;text-decoration: none;">职位</a>
                </li>
                <li style="float: left;width: 70px;height: 50px">
                    <a href="${base.contextPath}/indexIframe/companyList" style="color: #ffffff;margin-left: 17px;text-decoration: none">公司</a>
                </li>
            </ul>
        </div>
        <div style="float: right; margin-right: 100px;margin-top: 20px;color: #ffffff">
            <div style="float: left;margin-right: 20px">
                <a href="${base.contextPath}/user/login.html" style="color: #ffffff;text-decoration: none">请登录</a>
            </div>
            <div style="float: left;margin-right: 20px">
                |
            </div>
            <div style="float: left">
                <a href="${base.contextPath}/company/login.html" style="color: #ffffff;text-decoration: none">企业版登录</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>