<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员系统</title>
    <script src="${base.contextPath}/lib/jquery/jquery-2.2.4.js"></script>
    <script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="${base.contextPath}/lib/layui/layui.all.js"></script>
    <link href="${base.contextPath}/lib/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>

</body>
</html>